<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/assets/style.css" type="text/css">
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="loginPage"> 
    
    <h1  style="margin-top: 50px;">REGISTER DULU YA...</h1>
    <form class="login" >
        <div>
            <label for="username">Username :</label>
        </div>
        <div>
            <input id="username" type="text">
        </div>
        <div>
            <label for="email">Email :</label>
        </div>
        <div>
            <input id="email" type="email">
        </div>
        <div>
            <label for="Password">Password :</label>
        </div>
        <div>
            <input id="password" type="password">
        </div>
            <button type="submit" >Register</button>
            <p>Have Registered ?
                <a href="/login"> Click here to Login </a>
            </p>
        </div>
    </form>
</div>
</body>

<script> 
    function pass() { 
      let user = document.getElementById("username").value;
      let pass =  document.getElementById("password").value;
              if (user === "") {
                  alert( "Enter your username")
                //   window.open("/login"); 
              }
              else if (pass === "") {
                  alert("Enter Your Password")
                //   window.open("/login"); 
              }
              else  if (user !== "admin") {
                  alert("Login Failed ! or maybe You're not yet Registered")
                  window.open("/"); 
              }
              else if (pass !== "admin") {
                  alert("Check Your Password")
              }
              else  { 
              alert(`Login Success, Welcome ${user}`); 
                  window.open("/dashboard"); 
              }
    }
  </script> 

</html>